{% block content %}

import pymongo
import os
import sys
import pprint

def main():
    connection_string = os.environ["MONGO_CONNECTION_STRING"]
    db_name = os.environ["MONGO_DBNAME"]
    
    client = pymongo.MongoClient(connection_string)
    db = client[db_name]
    collection = db['Cars']
    
    newDoc = {
        "brand" : "Nissan",
        "sub-name" : "Gtr R34",
        "year" : "2002"
    }
    
    collection.insert_one(newDoc) #adds a document
    
    
    count=collection.count_documents({})  #print the number of documents in the collection
    print(count)
    
    
    find_one=collection.find_one() #print the first document in the collection
    print(find_one)


    for docs in collection.find(): #5. print all documents in the collection
        print(docs)
   
    
    find_one=collection.find_one({"brand": "Toyota"}) #6. print all documents with a particular value for some attribute
    print(find_one)
        
    
if __name__=="__main__":
    main()
        
{%endblock%}